require_relative '<%= config[:relative_action_path] %>'

describe <%= config[:app] %>::Controllers::<%= config[:controller] %>::<%= config[:action] %> do
  let(:action) { described_class.new }
  let(:params) { Hash[] }

  it 'is successful' do
    response = action.call(params)
    expect(response[0]).to eq 200
  end
end
