require 'rubygems'
require 'bundler/setup'
require 'hanami/setup'
require_relative '../lib/<%= config[:app_name] %>'

module <%= config[:classified_container_name] %>
  class Container < Hanami::Container
    configure do
    end
  end
end
