<%= Hanami::Hanamirc::ARCHITECTURE_KEY %>=<%= Hanami::Hanamirc::APP_ARCHITECTURE %>
<%= Hanami::Hanamirc::TEST_KEY %>=<%= config[:test] %>
<%= Hanami::Hanamirc::TEMPLATE_KEY %>=<%= config[:template] %>
