require 'spec_helper'
require_relative '<%= config[:relative_action_path] %>'

describe <%= config[:app] %>::Controllers::<%= config[:controller] %>::<%= config[:action] %> do
  let(:action) { <%= config[:app] %>::Controllers::<%= config[:controller] %>::<%= config[:action] %>.new }
  let(:params) { Hash[] }

  it 'is successful' do
    response = action.call(params)
    response[0].must_equal 200
  end
end
