<form accept-charset="UTF-8" action="/books/<%= book.id %>" method="patch">
  <input name="book[name]" placeholder="Name" type="text" value="<%= book.name %>" />
  <button type="submit">Update</button>
</form>
