# Require this file for feature tests
require_relative './spec_helper'

require 'capybara'
require 'capybara/dsl'

Capybara.app = <%= config[:classified_app_name] %>::Application.new

class MiniTest::Spec
  include Capybara::DSL
end
