# Configure your routes here
# See: http://www.rubydoc.info/gems/lotus-router/#Usage
#
#
#
# This route will look for `<%= config[:classified_slice_name] %>::Controllers::Home::Index` action in `apps/<%= config[:slice_name] %>/controllers/home/index.rb`.
# Please, uncomment the following line to have a working example.
# get '/', to: 'home#index'
