<!DOCTYPE html>
<html>
  <head>
    <title>Lotus &mdash; A complete web framework for Ruby</title>
    <style>
      * { margin: 0; padding: 0; }
      body { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #333; background-color: #ecf0f1; font-size: 16px; line-height: 24px; }
      h1, h2, h3 { margin: -20px; line-height: 100px; text-align: center; }
      h1 { font-size: 60px; color: #551e54; }
      h2 { font-size: 30px; }
      h3 { font-size: 20px; line-height: 22px; color: #666; }
      hr { margin: 2em; color: #ecf0f1; }
      ul { text-align: center; }
      li { display: inline; margin: 2em; line-height: 24px; list-style-type: none; vertical-align: text-top;}
      p { margin-top: 60px; text-align: center; }
      a { color: #333; padding: 1px; }
      code { padding: .2em; background-color: #ecf0f1 }
      #container { margin:0 auto; padding: 24px; width:700px; background-color:#fff; border: 1px solid #999; border-width: 0 1px 1px 1px; }
      #content { margin: 30px 10px 0 10px; }
      #footer { margin:0 auto 0; padding: 12px; width:700px; line-height: 24px; font-size: 12px; }
      .bold { font-weight: bold; }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Lotus</h1>
      <hr />
      <h2>A complete web framework for Ruby</h2>

      <h3>Lotus is Open Source Software for MVC web development.<br />
        It's simple, fast and lightweight.</h3>

      <p>Please generate a new action with:<br><code>bundle exec lotus generate action<%= application_name %> home#index --url=/</code>.</p>

      <hr style="margin-top: 4em;"/>
      <div id="content">
        <ul>
          <li><a href="http://lotusrb.org">Website</a></li>
          <li><a href="http://lotusrb.org/guides">Guides</a></li>
          <li><a href="http://www.rubydoc.info/gems/lotusrb">API docs</a></li>
          <li><a href="https://github.com/lotus/lotus">Source code</a></li>
          <li><a href="https://gitter.im/lotus/chat">Chat</a></li>
        </ul>
      </div>
    </div>
    <div id="footer">
      &copy; 2014 - present Luca Guidi &mdash; Lotus is released under the MIT License.
    </div>
  </body>
</html>
