<h1>Welcome to Lotus!</h1>
<h3>This template is rendered by <code><%= config[:classified_app_name] %>::Views::Home::Index</code> and it's available at: <code>apps/templates/home/index.html.erb</code></h3>
